body {
    background: linear-gradient(90deg, #aa80f9, #a1f6ff);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    margin: 5em 25em;
    padding: 3em;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    align-items: center;
    background-color: white;
    border-radius: 2em;
}

.submit {
    width: 16em;
    height: 2.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: #aa80f9;
    border-radius: 1em;
    transition: 0.3s;
    border: none;
}

.submit:hover {
    letter-spacing: 0.5px;
    color: black;
    background-color: #a1f6ff;
    border-radius: 0.7em;
    width:16.8em;
    height: 2.5em;
}

h1{
    font-weight: 900;
    font-size: 2em;
}

.button_container{
    height: 4em;
    display: flex;
    align-items: center;
}

.result {
    margin-top: 1em;
    border: solid 2px #aa80f9;
    border-radius: 0.7em;
    font-size: 28px;
    padding: 15px 35px;
    text-align: center;
}